server/node_modules/
server/.env
server/dist/
server/build/
server/*.log
server/.env.local
server/.env.*.local

client/node_modules/
client/.env
client/build/
client/dist/
client/*.log
client/.env.local
client/.env.*.local

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.tgz
*.zip

.env
.env.*     # covers .env.local, .env.production, etc.
